Repository nicobako/when-exactly: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, linter, formatter, mdformat

.pre-commit-config.yaml:

repos:
  # - repo: https://github.com/psf/black
  #   rev: 24.10.0 # 2024-10-27
  #   hooks:
  #     - id: black
      
  # - repo: https://github.com/PyCQA/isort
  #   rev: 5.13.2 # 2023-12-13
  #   hooks:
  #     - id: isort
  #       args: [--profile, black]

  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v1.14.1 # 2025-01-09
  #   hooks:
  #     - id: mypy
  #       args: [--strict, --ignore-missing-imports]

  # - repo: https://github.com/astral-sh/ruff-pre-commit
  #   # Ruff version.
  #   rev: v0.12.7
  #   hooks:
  #     # Run the linter.
  #     - id: ruff-check
  #       args: [ --select, I, --fix ]
  #     # Run the formatter.
  #     - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run ty check .
        types:
          - python
        language: system
      - id: linter
        name: ruff check
        entry: uv run ruff check . --select I --fix --no-cache
        types:
          - python
        language: system
      - id: formatter
        name: ruff format
        entry: uv run ruff format --no-cache
        types:
          - python
        language: system
      - id: mdformat
        name: mdformat
        entry: uv run mdformat .
        types:
          - markdown
        language: system

finished with uv changes
  .pre-commit-config.yaml
  README.md
Due: mdformat

mods
  docs/index.md
  mkdocs.yml
  src/when_exactly/api.py
  src/when_exactly/moment.py
Due: ty, linter, formatter, mdformat

improved docs and tests
  .python-version
  DEVELOPMENT.md
  README.md
  docs/core-concepts.md
  docs/index.md
  docs/interval.md
  docs/moment.md
  mkdocs.yml
  pyproject.toml
  src/when_exactly/__init__.py
  src/when_exactly/api.py
  src/when_exactly/custom_interval.py
  src/when_exactly/errors.py
  src/when_exactly/moment.py
  tests/core/__init__.py
  tests/test_docs.py
  tests/test_errors.py
  tests/test_interval.py
  tests/test_moment.py
  tests/test_week.py
  uv.lock
Due: ty, linter, formatter, mdformat

a lot of wip
  src/when_exactly/__init__.py
  src/when_exactly/api.py
  src/when_exactly/custom_interval.py
  src/when_exactly/moment.py
  src/when_exactly/precision.py
  tests/asserts.py
  tests/test_day.py
  tests/test_docs.py
  tests/test_moment.py
  tests/test_precision.py
Due: ty, linter, formatter

adding precision
  scratch.py
  src/when_exactly/__init__.py
  src/when_exactly/api.py
  src/when_exactly/custom_interval.py
  src/when_exactly/precision.py
  tests/test_day.py
Due: ty, linter, formatter

improved date
  scratch.py
  src/when_exactly/__init__.py
  src/when_exactly/api.py
  src/when_exactly/custom_interval.py
  src/when_exactly/precision.py
  tests/asserts.py
  tests/test_day.py
  tests/test_hour.py
  tests/test_minute.py
  tests/test_month.py
  tests/test_ordinal_day.py
  tests/test_precision.py
  tests/test_second.py
  tests/test_week.py
  tests/test_weekday.py
  tests/test_year.py
Due: ty, linter, formatter

code builds, but still does not run
  docs/CNAME
  docs/core-concepts.md
  src/when_exactly/__init__.py
  src/when_exactly/__main__.py
  src/when_exactly/__version__.py
  src/when_exactly/api.py
  src/when_exactly/cli.py
  src/when_exactly/core/__init__.py
  src/when_exactly/core/collection.py
  src/when_exactly/core/custom_collection.py
  src/when_exactly/core/custom_interval.py
  src/when_exactly/core/delta.py
  src/when_exactly/core/errors.py
  src/when_exactly/core/helper_functions.py
  src/when_exactly/core/interval.py
  src/when_exactly/core/moment.py
  src/when_exactly/custom_collection.py
  src/when_exactly/custom_collections/days.py
  src/when_exactly/custom_collections/hours.py
  src/when_exactly/custom_collections/minutes.py
  src/when_exactly/custom_collections/months.py
  src/when_exactly/custom_collections/seconds.py
  src/when_exactly/custom_collections/weekdays.py
  src/when_exactly/custom_collections/weeks.py
  src/when_exactly/custom_collections/years.py
  src/when_exactly/custom_intervals/__init__.py
  src/when_exactly/custom_intervals/day.py
  src/when_exactly/custom_intervals/hour.py
  src/when_exactly/custom_intervals/minute.py
  src/when_exactly/custom_intervals/month.py
  src/when_exactly/custom_intervals/ordinal_day.py
  src/when_exactly/custom_intervals/second.py
  src/when_exactly/custom_intervals/week.py
  src/when_exactly/custom_intervals/weekday.py
  src/when_exactly/custom_intervals/year.py
  tests/test_day.py
  tests/test_factories.py
  tests/test_week.py
  tests/test_weekday.py
  tests/test_year.py
Due: ty, linter, formatter, mdformat

improved docs adn fixed tests
  .claude.md
  docs/api.md
  docs/getting-started.md
  docs/index.md
  docs/moment.md
  src/when_exactly/_api.py
  src/when_exactly/core/collection.py
  src/when_exactly/core/delta.py
  src/when_exactly/core/interval.py
  src/when_exactly/core/moment.py
  tests/test_moment.py
Due: ty, linter, formatter, mdformat

improved docs
  docs/api.md
Due: mdformat

improved docs
  docs/index.md
  mkdocs.yml
Due: mdformat

Deployed 7cd1ba8 with MkDocs version: 1.6.1
  404.html
  api/index.html
  core-concepts/index.html
  custom-intervals/months/index.html
  custom-intervals/year/index.html
  getting-started/index.html
  index.html
  interval/index.html
  moment/index.html
  objects.inv
  search/search_index.json
  sitemap.xml.gz
  tutorial/advanced-concepts/index.html
  tutorial/collection/index.html
  tutorial/custom-interval/index.html
  tutorial/delta/index.html
  tutorial/weeks/index.html
  tutorial/year/index.html
Due: none

updated docs substantially
  .claude.md
  CLAUDE.md
  docs/api.md
  docs/api/collection.md
  docs/api/custom-interval.md
  docs/api/day.md
  docs/api/days.md
  docs/api/delta.md
  docs/api/hour.md
  docs/api/hours.md
  docs/api/interval.md
  docs/api/minute.md
  docs/api/minutes.md
  docs/api/moment.md
  docs/api/month.md
  docs/api/months.md
  docs/api/ordinal-day.md
  docs/api/second.md
  docs/api/seconds.md
  docs/api/week.md
  docs/api/weekday.md
  docs/api/weekdays.md
  docs/api/weeks.md
  docs/api/year.md
  docs/api/years.md
  docs/custom-intervals/months.md
  docs/custom-intervals/year.md
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: mdformat

Deployed 744e165 with MkDocs version: 1.6.1
  404.html
  api/collection/index.html
  api/custom-interval/index.html
  api/day/index.html
  api/days/index.html
  api/delta/index.html
  api/hour/index.html
  api/hours/index.html
  api/index.html
  api/interval/index.html
  api/minute/index.html
  api/minutes/index.html
  api/moment/index.html
  api/month/index.html
  api/months/index.html
  api/ordinal-day/index.html
  api/second/index.html
  api/seconds/index.html
  api/week/index.html
  api/weekday/index.html
  api/weekdays/index.html
  api/weeks/index.html
  api/year/index.html
  api/years/index.html
  core-concepts/index.html
  getting-started/index.html
  index.html
  interval/index.html
  objects.inv
  search/search_index.json
  tutorial/advanced-concepts/index.html
  tutorial/collection/index.html
  tutorial/delta/index.html
  tutorial/weeks/index.html
  tutorial/year/index.html
Due: none

updated docs again
  docs/core-concepts.md
  docs/moment.md
  docs/tutorial/year.md
Due: mdformat

Deployed 48e591a with MkDocs version: 1.6.1
  core-concepts/index.html
  index.html
  moment/index.html
  tutorial/year/index.html
Due: none

added more docs
  src/when_exactly/_api.py
Due: ty, linter, formatter

fixed docs - added examples
  mkdocs.yml
Due: none

Deployed 5417e99 with MkDocs version: 1.6.1
  api/day/index.html
  api/hour/index.html
  api/hours/index.html
  api/minute/index.html
  api/minutes/index.html
  api/ordinal-day/index.html
  api/second/index.html
  api/seconds/index.html
  api/week/index.html
  api/weekday/index.html
  api/weekdays/index.html
  index.html
  objects.inv
  search/search_index.json
Due: none

ran pre-commit
  CLAUDE.md
  docs/api.md
  docs/api/collection.md
  docs/api/custom-interval.md
  docs/api/day.md
  docs/api/days.md
  docs/api/delta.md
  docs/api/hour.md
  docs/api/hours.md
  docs/api/interval.md
  docs/api/minute.md
  docs/api/minutes.md
  docs/api/moment.md
  docs/api/month.md
  docs/api/months.md
  docs/api/ordinal-day.md
  docs/api/second.md
  docs/api/seconds.md
  docs/api/week.md
  docs/api/weekday.md
  docs/api/weekdays.md
  docs/api/weeks.md
  docs/api/year.md
  docs/api/years.md
  docs/index.md
  src/when_exactly/core/collection.py
  src/when_exactly/core/delta.py
  src/when_exactly/core/interval.py
Due: ty, linter, formatter, mdformat
